section.home::after{
    content: '';
    position: absolute;
    inset: 0;
    background: url(/public/static/images/noise.svg);
    opacity: 0.1;
    mix-blend-mode:soft-light;
    z-index: 1;
}

section.home{
    height: 95dvh;
    background: radial-gradient(circle at top left, #111315 0%, #1B1F24 100%);
}


.hero{
    padding-inline: min(6rem, 8%);
}

.hero h1, h2, h3, p{
    font-family: "Poppins", sans-serif;
}

.hero h1 {
    font-size: clamp(1.8rem, calc(3vw + 1rem), 2.75rem);
}

.hero h2{
    font-size: clamp(1.8rem, calc(3vw + 1rem), 2.75rem);
}

.hero h3{
    font-family: 'Montserrat';
    font-size: 20px;

}

.hero p{
    font-size: 17px;
}

.skill-set-box h1{
	font-family: Consolas, monaco, monospace; 
    font-size: 20px;
}


@media screen and (max-width: 1024px){

    .hero {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .line {
        display: none;
    }
    

}

/* @media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    } 
}
@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    } 
} */