
.navbar {
    z-index: 999;   
}

.navbar .list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 4rem;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.navbar .item {
    display: inline-block;
    transition: all 0.4s ease-in-out;
    font-family: "Poppins", 'Segoe UI', sans-serif;
}

.navbar .item:has(.link):hover{
    transform: translateY(-10%);
}

.navbar .link {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 16.5px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    opacity: 0.8;

}

.navbar .link::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -6px;
    background: linear-gradient(to right, #00000000 0%, #ffffff 50%, #00000000 100% ) ;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    filter: blur(1px);
}

.navbar .link:hover::before{
    opacity: 1;
}

.navbar .link.active {
    opacity: 1;
}

.navbar .link.active::before {
    background: linear-gradient(to right, #00000000 0%, #ffffff 50%, #00000000 100% ) ;
    opacity: 1;
}

.navbar .button--cta{
    position: relative;
    overflow: hidden;
    padding-block: 12px;
    padding-inline: 24px;
    background: #41E4C4;
    color: #181C20;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16.5px;

    transition: all 0.3s ease-in;
}



.navbar .button--cta.active::before{
    transform: translateY(0);
}

.navbar .button--cta.active{
    color: #000;
}

.navbar .button--cta:hover::before {
    transform: translateY(0);
}
.navbar .button--cta:hover {
    color: #000;
}






@media screen and  (max-width:800px){
    .hamburger-button{
        display: block;
    }

    .close-button{
        display: block;
    }

    .navbar{
        display: none;
    }
}