.sidebar.open {
  transform: translateX(0);
  transition: all ease-in-out .5s;
}

.sidebar {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100dvh;
  background-color: hsla(0, 0%, 25%, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.5);
  transition: 1s;
}

.sidebar .list {
  display: grid;
}
.sidebar .item {
  position: relative;
  display: block;
}

.sidebar .link,
.button--cta {
  color: #fff;
  display: block;
  padding: 2.5rem;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.5);
}

.sidebar .link.active,
.button--cta.active {
  background: #55d3d365;
  box-shadow:
    inset 0 0 2rem rgba(103, 253, 253, 0.7),
    inset 0.5rem 0 0 rgb(230, 255, 255);
}

.close-button {
  fill: red;
}

@media screen and (max-width: 480px) {
  .sidebar {
    width: 85%;
  }
}
