.sidebar.open{
    display: block;
    transition: 1s;

}

.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100dvh;
    z-index: 999;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border: 1px solid rgba( 255, 255, 255, 0.8 );
    transition: 1s;
}


.sidebar .link{
    display: block;
    width: 100%;
    padding: 3rem 3rem;
    font-family: "Poppins";
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.2s;
}

.sidebar .item::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);


}
.sidebar .link.active{
    border: solid 1px #00ffff;
    background: #55d3d3ab;
    box-shadow: inset 0 0 1.5rem rgba(103, 253, 253, 0.658);;

}

#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    height: 100dvh;
    display: hidden;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    z-index: 10;
    transition: 0.2s;
}

.sidebar.open ~ #overlay{
    display: block;
    opacity: 1;
    backdrop-filter: blur(10px);

}

@media screen and (max-width: 480px) {
    .sidebar{
        width: 80%;;
    }
}