.sidebar{
    display: none;
    position: sticky;
    top: 0;
    float: right;
    width: 20rem;
    height: 100dvh;
    z-index: 999;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border: 1px solid rgba( 255, 255, 255, 0.8 );
}

.sidebar.open{
    display: block;
}


.sidebar__link{
    display: block;
    width: 100%;
    padding: 3rem 3rem;
    font-family: "Poppins";
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.2s;
}

.sidebar__item::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);


}
.sidebar__link.active{
    border: solid 1px #00ffff;
    background: #55d3d3ab;
    box-shadow: inset 0 0 1.5rem rgba(103, 253, 253, 0.658);;

}

/* @media screen and (max-width:800px){
    .sidebar{
        display: block;

    }

} */